################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/ResumeBuilder/v17/.suo
*.vsidx
/src/.vs/ResumeParser/v17/.suo
/src/Services/Consumer/Consumer.API/obj/Debug/net8.0/Consumer.API.assets.cache
/src/Parser.Contracts/obj
